.main {
    margin: 0rem auto 5rem;
    width: 80%;
    width:60rem;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    height:auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  @media screen and (max-width:700px){
    .main {
      width: 100%;
      padding:0.1rem 0.75rem;
      display: flex;
      flex-direction: column;
    }
  }