/* @font-face {
  font-family: 'Segoeui';
  src: url('../public/fonts/segoeui.woff2');
} */
html { background-color: #191919;}
html,
body {
  padding: 0;
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  /* font-family: var(--playfair-font);  */
font-size: 82pt;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 1.25;
  margin:0 0 1.25rem 0
}
* {
  box-sizing: border-box;
  color: #f2f2f2;
}
.card {
  font-size: 16px;
  padding:0 0 10px 0;
  width: 100%;
}
a.readMore {
font-weight: 400;
padding-bottom: 0.2rem;
border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}
a.readMore:hover {
  border-bottom: 1px solid rgba(250, 250, 250, 0.849);
}
h3 {
  margin: 0 0 0.5rem;
}
h2 {margin:0 auto 12px; font-size:18px;text-align: center;}
#parallax {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/jeremy-perkins-unsplash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: -1;
  opacity: 0.5;
}
